/* font */
@font-face {
    font-family: 'transformers_movie-webfont';
    src: url(../fonts/transformers_movie-webfont.woff)
}

/* font-gerak-start */

svg {
    font-family:'transformers_movie-webfont' ;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #801A86;
    font-size: 178px;
}

@keyframes stroke {
    0% {
        fill: rgba(0, 0, 0, 0);
        stroke: rgba(128, 26, 134, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(0, 0, 0, 0);
        stroke: rgba(128, 26, 134, 1);
    }

    80% {
        fill: rgba(0, 0, 0, 0);
        stroke: rgba(128, 26, 134, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(0, 0, 0, 1);
        stroke: rgba(128, 26, 134, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/* font-gerak-end */


/* main style */



body { 
    animation:  10s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
    font-size: 18px;
    line-height: 36px;
    font-family: "transformers_movie-webfont";
    background : linear-gradient(#3CA55C , #85D8CE);
    background-repeat: no-repeat;
    height: 100vh;
    /* background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
    /* background-color: #335798;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23335798'/%3E%3Cstop offset='1' stop-color='%2345FF61'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2346FF4B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2346FF4B' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2346FF4B' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2346FF4B' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.53'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover; */
}


h1 {
    font-size: 50px;
    margin: 50px ;
    text-align: center;
    text-shadow: 1px 1px 2px red;
    position: relative;
    top: 5%;
}

.tambahan h2 {
    height: 100px;
    width: 900px;
    margin-left: 100px;
    padding-left: 200px;
    /* background-color: #335798; */
    font-size: 30px;
        margin: 30px;
        text-align: center;
        font-family: 'Inclusive Sans';
        line-height: 37px;
        /* text-shadow: 1px 1px 2px red; */
        /* position: relative; */
        /* top: 5%; */
        text-transform: uppercase;
            background-image: linear-gradient(-225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #fff800 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 26px;
}


.deskripsi{
    overflow-x: auto;
    overflow-y: hidden;
}



.container {
    width: 600px;
    margin: auto;
    margin-bottom: 30%;
    position: relative;
    padding: 30px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .3);
    background-color: rgba(0,0,0,0.7);
    border-radius: 25px;
    overflow: hidden;
}

/* .container2 {
    width: 600px;
    padding-left: 30%;
    margin-left: 10px;
    margin-bottom: 30%;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    overflow: hidden;
} */


.gallery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid gainsboro;
    position: relative;
    float: left;
    margin-right: 26px;

}

.gallery img {
    border-radius: 50%;
}

.gallery li  .nama {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: black;
    text-shadow: 1px 1px 1px white;
    opacity: 0;
    transition: .3s;
}

.gallery li a:hover .nama    {
    opacity: 1;
}


.clear {
    clear: both;
}


.deskripsi p {
    width: 450px;
    height: 450px;
    text-align: center;
    color: white;
    text-shadow: px 2px 2px black;
    float: right;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-right: 25px;
    left: 0;
}



.footer {
    /* margin: 140px 0 0 530px; */
    margin-left: 530px;
    margin-top: -350px;
    color: #231557;
}

/* .sosmed {
    overflow: auto;
    width: 200px;
    margin: auto;
}

.sosmed p {
    text-align: left;
    margin-left: 30px;
}

i {
    margin-bottom: 10px;
    text-align: center;
    float: left;
}

.instagram {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -13px;
    right: -14px;
} */
/* Overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: .8s;
    text-align: center;
    padding-top: 60px;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay img {
    border-radius: 2px;
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

.overlay:target img {
    animation: fadeAjah 1s;
}

.overlay .konten .close {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: 200px;
    background-color: black;
    margin-left: 390px;
    color: white;
    border: 1px solid white;
    line-height: 20px;
    text-decoration: none;
    opacity: 0;
    z-index: 999;
    top: -10px;
    right: -10px;
}

.overlay:target .close {
    animation: slide .5s .5s forwards;
}

.overlay:target .next {
    animation: fadeAjah .5s .5s forwards;
}

.overlay:target .prev {
    animation: fadeAjah .5s .5s forwards;
}


.overlay .konten h1 {
    color: white;
    left: 150px;
}

/* navigasi */
.next, .prev {
    width: 60px;
    height: 60px;
    background-image: url(../img/pngwing\ 1.png);
    position: absolute;
    text-indent: -99998px;
    margin-top: 210px;
    margin-left: 450px;
    opacity: 0;
}

.prev {
    background-image: url(../img/pngwing\ 2.png);
    margin-left: -515px;
}

.overlay .konten {
    position: relative;
    width: 800px;
    height: 500px;
    box-sizing: border-box;
    top: -20px;
    left: 300px;
    /* background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
    background-color: rgba(20,0,0,.8);
}

.overlay .konten img {
    width: 300px;
    height: 600px;
    position: absolute;
    margin-left: -400px;
}

.overlay .close:hover {
    background-color: red;
}

.overlay .prev:hover {
    background-color: white;
}

.overlay .next:hover {
    background-color: white;
}




/* Animation */

@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }

    40% {
        clip-path: circle(40%);
    }

    100% {
        clip-path: circle(125%);
    }
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes fadeAjah {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

/* .content {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    float: left;
} */

